
// Question
.container {
    width: 100%;
    max-width: 1024px;
}

.header {

}

.meta {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 16px;
    margin-bottom: 10px;
    -ms-flex-align: center;
}

.question__answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.question__answer {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.question__answer--selected {
    background-color: #f0f0f0;
}

.question__answer--correct {
    background-color: #d4edda;
}

.question__answer--incorrect {
    background-color: #f8d7da;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
